.streamlit/
__pycache__/
*.db
*.pickle
sam.py
dump.py
dump_output.txt
runcmd.txt
options.json
new.py
d2.py
d3.py
a.py
.DS_Store

# Ignore loose images in the root directory only
/*.jfif
/*.jpg
/*.png
!/eye_disease_bg_attempt_3.jpg

# Ensure data folders are tracked
!Dataset/
!Blink/
